.text-center{
    /* text-align: ; */
}

/* NAV */

.navbar-collapse {
    justify-content: center;
}

/* HEADER */

.container-header{
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(./img/event_Header.jpg);
 height: auto;
 min-height: 20vh;
 background-repeat:no-repeat;
 background-size: 100%;
 background-position: left bottom;
}

@media screen and (min-width: 680px){
    .container-header{
        min-height: 30vh;
    }
}

.img-header{
    width: 100%;
}

.text-header{
    color: white;
    font-size: 5em;
}

/* CARDS */

.card{
    margin:1em auto;
}

.card-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: auto ;
    
}

img{
    
    width: 20rem;
    height: 15rem;
}