/* .text-center{
    
} */
/* TEST BACKGROUND */
body{
     background: rgb(0,0,0);
background: radial-gradient(circle, rgb(185, 178, 178) 0%, rgb(242, 234, 121) 90%);

    font-style: normal;


}

/* NAV */

.navbar-collapse {
    justify-content: center;
}

/* HEADER */

.container-header{
 display: flex;
 justify-content: center;
 align-items: center;;
 height: auto;
 min-height: 30vh;
 background-repeat:no-repeat;
 background-size:cover
 
}

.events-header{
    background-image: url(./img/event_Header.jpg);
    background-position: left bottom;
}


.nightlife-header{
    background-image: url(./img/nightlife-header.jpeg);
    background-position: center
}

@media screen and (min-width: 680px){
    .container-header{
        min-height: 40vh;
    }
}


.text-header{
    color: white;
    font-size: 4em;
    background-color: rgba(31, 30, 30, 0.438);
}


/* CARDS */

.card{
    display: block;
        width: 100%;
        margin: 1rem;
        /* background: rgb(0,0,0);
background: radial-gradient(circle, rgb(253, 253, 253) 0%, rgb(10, 7, 7) 80%); */
}

@media screen and (min-width: 765px){
    .card{
        margin: 2em  auto;
        width: 45%;
        height: auto;
    }
    
}

@media screen and (min-width: 1198px){
    .card{
        margin: 1em  auto;
        width: 30%;
        height: auto;
    }
    
}

.card-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: auto ;
    
}
.card-img-top{
    
    width: 100%;
    height: 15rem;
    object-fit:cover;
}




button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

#close-CSS {
    background-image: url( 'http://thinkingstiff.com/images/matt.jpg' );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

/* Footer */

#container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }